<h1>Please fill in your information</h1>
<div>
  <input
    type="text"
    [formControl]="firstname"
    placeholder="Enter your firstname"
  />
  <br />
  <input
    type="text"
    [formControl]="lastname"
    placeholder="Enter your lastname"
  />
  <br />
  <input
    type="text"
    [formControl]="birthdate"
    placeholder="Enter your birthdate (00/00/0000) A.D."
  />
  <br />
  <input type="number" [formControl]="age" placeholder="Enter your age" />
  <br />
  <button
    [disabled]="
      !firstname.valid || !lastname.valid || !birthdate.valid || !age.valid
    "
    [routerLink]="['/directive']"
  >
    Submit
  </button>
</div>
